* {
  font-family: Oswald;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(190deg, #ff999c, white);
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.white {
  color: white;
}

.bold {
  font-weight: 100;
}

.row {
  padding: 0 48px;
}

.button {
  padding: 12px;
  background: #fd5c63;
  color: black;
  border-radius: 8px;
  transition: 500ms ease-in-out;
  border: none;
}

.button:hover {
  background: #660000;
  font-size: large;
  cursor: pointer;
  color: white;
}

nav {
  position: sticky;
  top: 0;
  
}

.nav--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 48px;
  border: 1px;
  background-color: rgba(255,255, 255, 0.3);
  backdrop-filter: blur(5px);
}

.nav__title {
  font-family: "ESP";
  font-size: 20px;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin-right: 20px;
  padding-right: 4px;
  font-size: 18px;
  color: black;
}

.nav__icon {
  font-size: 24px;
}

.nav__icon,
.nav__link {
  transition: 300ms ease-in-out;
}

.nav__icon:hover,
.nav__link:hover {
  color: white;
}

.nav__link:hover {
  font-size: 20px;
}

.nav__icon:hover {
  cursor: pointer;
  font-size: 26px;
  animation: spin 500ms ease-in-out;
}

.nav__icon:active,
.nav__link:active {
  font-size: 18px;
}

@keyframes spin {
  25% {
    rotate: 90deg;
  }
  50% {
    rotate: 180deg;
  }
  75% {
    rotate: 280deg;
  }
  100% {
    rotate: 360deg;
  }
}

#main {
  height: calc(100vh - 100px);
  margin: 48px 0;
}

.header__title {
  font-size: 48px;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px 8px rgb(0 0 0 / 60%);
  box-shadow: offset-x offset-y blur-radius spread-radius color;
  border-radius: 10px;
  padding: 24px;
}

.header__image {
  overflow: hidden;
}

.header__text {
  margin-left: 24px;
}

.header__text--top {
  margin-bottom: 48px;
}

.header__text-para {
  font-size: 18px;
  width: 80%;
}

.footer__icon {
  border: 2px solid white;
  padding: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.footer__icon:hover {
  cursor: pointer;
  font-size: 18px;
  transition: 300ms ease-in-out;
  color: lightgray;
}

footer {
  padding: 32px;
  background: #330000;
  color: white;
  font-weight: 200;
}

.footer__link {
  margin-left: 6px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.footer__top--wrapper {
  display: flex;
  justify-content: start;
  margin-bottom: 16px;
  border-bottom: 2px solid white;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__bottom--cell {
  width: 50%;
}

.footer__detail {
  width: 30%;
}

footer p,
footer li {
  line-height: 1.5;
}
